:root {
  /* GLOBAL COLOURS - Colours and colournames from palette designed using https://coolors.co/ */
  --rich-black: #091111;
  --navajo-white: #ffe0b5;
  --red-salsa: #fb3640;
  --dark-slate-grey: #27474e;
  --russian-green: #5e8c61;
  --ghost-white: #f2f2f8;
}

/*--------------------Global styling--------------------*/
#app {
  margin: 0;
  background-color: var(--rich-black);
  height: 100vh;
  color: #f2f2f8;
}
/* .container-fluid {
  border: thin solid red;
}
.col{
  border: thin solid greenyellow;
}
.row{
  border: thin solid lightblue;
} */

/* unvisited link */
a:link {
  color: var(--ghost-white);
}

/* visited link */
a:visited {
  color: var(--ghost-white);
}

/* mouse over link */
a:hover {
  color: var(--navajo-white);
}

/* selected link */
a:active {
  color: blue;
}

/*--------------------LANDING PAGE--------------------*/

#landing-page-top {
  height: 15vh;
}
#landing-page-title {
  background-color: var(--russian-green);
  border: thin solid var(--navajo-white);
}
#landing-page-sub-blank-right {
  height: 7vh;
}
#landing-page-sub {
  background-color: var(--russian-green);
  border: thin solid var(--navajo-white);
}
#landing-page-nav-col-blank {
  height: auto;
}

#landing-page-sub-bottom-blank {
  height: 5vh;
}

#linked-in-link {
  padding-top: 20%;
}
#github-link {
  padding-bottom: 20%;
}
#linkedin-link-img {
  height: 25px;
  width: 25px;
  background-color: #f2f2f8;
}
#github-link-img {
  height: 25px;
  width: 25px;
  background-color: #f2f2f8;
}

.landing-page-nav-col {
  width: 33vw;
}
.landing-page-nav-col-blank {
  width: 66vw;
}

#portfolio-btn-top-blank {
  height: 8vh;
}

#portfolio-btn-bottom-blank {
  height: 10vh;
}
/*--------------------NAV BTNS--------------------*/

#lets-work-btn {
  background-color: var(--rich-black);
  border: thin solid var(--navajo-white);
  color: var(--ghost-white);
  margin: 10px;
  font-size: smaller;
}

#about-btn {
  background-color: var(--rich-black);
  border: thin solid var(--navajo-white);
  color: var(--ghost-white);
  margin: 10px;
  font-size: smaller;
}
#cv-btn {
  background-color: var(--rich-black);
  border: thin solid var(--navajo-white);
  color: var(--ghost-white);
  margin: 10px;
  font-size: smaller;
}

#portfolio-btn {
  background-color: #fb3640;
  border: thin solid var(--navajo-white);
  color: var(--rich-black);
}
/*------------------------------------------------------------------------*/

/* SOCIAL LINKS */
#landing > #landing-social > #landing-social {
  font-family: "Roboto", sans-serif;
  color: var(--ghost-white);
}

#landing-social > #landing-social-contact {
  color: var(--red-salsa);
}

/* NAV LINKS */
#landing-nav {
  font-family: "Lato", sans-serif;
}
#landing-nav > #landing-nav-project {
  color: var(--red-salsa);
}
/* HEADING */
#landing-title > #landing-title-main {
  font-family: "Lato", sans-serif;
  color: var(--ghost-white);
}

#landing-title > #landing-title-sub {
  font-family: "Roboto", sans-serif;
  color: var(--teal);
}
/*--------------------PROJECTS SCROLLTO--------------------*/
/*--------------------ABOUT SCROLLTO--------------------*/

/*--------------------CV SCROLLTO--------------------*/
/* CONTACT SECTION */

#icon-attr {
  font-size: x-small;
}
