:root {
	--primary-color: #218380;
	--secondary-color: #fb3640;
	--text-color: #091111;
	--background-color: #ffe0b5;
	--font-family: 'Alegreya Sans SC', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: 1.6;
}

/* Navigation */
nav {
	background-color: var(--primary-color);
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 10px;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}

nav a:hover {
	text-decoration: underline;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	animation: fadeInDown 0.5s;
}

/* Home */
#home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--background-color);
	/* background-image: url('profile-pic.jpg'); */
	background-size: cover;
	background-position: center;
}

#home h1 {
	font-size: 48px;
	margin: 0;
}

#home h2 {
	font-size: 24px;
	margin: 20px 0;
}

/* About */
#about {
	background-color: var(--background-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
  }
  
  #about h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  #about p {
	flex-basis: 50%;
	text-align: left;
	margin: 20px;
	font-size: 18px;
  }
  
  #about img {
	flex-basis: 50%;
	max-width: 400px;
	height: auto;
	margin: 20px;
  }
  
  .about-background{
	margin-left: 5%;
	margin-right: 5%;
  }

  #email-link{
	color: var(--secondary-color);
  }
@media (min-width: 768px) {
	#about {
		flex-direction: row;
	}
	
	#about p {
		flex-basis: 50%;
		text-align: left;
		margin: 0;
		font-size: 24px;
	}

	#about img {
		flex-basis: 50%;
		margin: 0;
	}
}

/* Links */
#links {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
	
}

#links h2{
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}
#links ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

#links li {
	padding: 10px;
	
}

#links a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 28px;
}

#links a:hover {
	text-decoration: underline;
}

.links-background{
	margin-left: 5%;
	margin-right: 5%;
  }

/* Technology */
#technology {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
}

#technology h2{
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}
#technology h5{
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	
}
#technology ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#technology li {
	padding: 10px;
}

#technology a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 24px;
}

#technology a:hover {
	text-decoration: underline;
}

.technology-background{
	margin-left: 5%;
	margin-right: 5%;
  }

  
/* Contact */
/* #contact {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

label {
	margin-top: 20px;
}

input, textarea {
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
}

input, textarea {
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	font-family: var(--font-family);
	color: var(--text-color);
}

input:focus, textarea:focus {
	outline: none;
	border-color: var(--secondary-color);
}

button[type=submit] {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}

@media (min-width: 768px) {
	form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	label {
		flex-basis: 100%;
	}

	input, textarea {
		flex-basis: 48%;
	}
} */


#lower-buffer{
	height: 100px;
}