
:root {
  /* GLOBAL COLOURS - Colours and colournames from palette designed using https://coolors.co/ */
  --rich-black: #091111;
  --navajo-white: #ffe0b5;
  --red-salsa: #fb3640;
  --dark-slate-grey: #27474E;
  --russian-green: #5E8C61;
  --ghost-white: #f2f2f8;
}

/*--------------------Global styling--------------------*/
#app {
  margin: 0;
  background-color: var(--rich-black);
  height: 100vh;
  color: #f2f2f8;
}
.container-fluid {
  border: thin solid red;
}
.col{
  border: thin solid greenyellow;
}
.row{
  border: thin solid lightblue;
}

/* unvisited link */
a:link {
  color: var(--ghost-white);
}

/* visited link */
a:visited {
  color: var(--ghost-white);
}

/* mouse over link */
a:hover {
  color: var(--navajo-white);
}

/* selected link */
a:active {
  color: blue;
}

/*--------------------LANDING PAGE--------------------*/
.landing-page{
  height: 100vh;
}
.landing-page-top{
  height: 15vh;
}

.landing-page-sub > .landing-page-sub-right > .landing-page-sub > h6{
  display: flex;
  justify-content: right;
align-items:flex-end;}

.landing-page-nav-col{
  width: 33vw;
}
.landing-page-nav-col-blank{
  width: 66vw;
}


/*------------------------------------------------------------------------*/

/* SOCIAL LINKS */
#landing > #landing-social > #landing-social {
  font-family: "Roboto", sans-serif;
  color: var(--ghost-white);
}

#landing-social > #landing-social-contact {
  color: var(--red-salsa);
}

/* NAV LINKS */
#landing-nav {
  font-family: "Lato", sans-serif;
}
#landing-nav > #landing-nav-project {
  color: var(--red-salsa);
}
/* HEADING */
#landing-title > #landing-title-main {
  font-family: "Lato", sans-serif;
  color: var(--ghost-white);
}

#landing-title > #landing-title-sub {
  font-family: "Roboto", sans-serif;
  color: var(--teal);
}
/*--------------------PROJECTS SCROLLTO--------------------*/
/*--------------------ABOUT SCROLLTO--------------------*/

/*--------------------CV SCROLLTO--------------------*/
/* CONTACT SECTION */
